[Unit]
Description=cbp-book-level1-0-writer
After=network.target

[Service]
WorkingDirectory=/home/armandli/cbp-recorder
ExecStart=/bin/bash -c 'cd /home/armandli/cbp-recorder/ && source ./env/bin/activate && book_writer --period 360 --exchange book_level1_0 --logfile writer.log'
Environment=PYTHONUNBUFFERED=1
StandardOutput=append:/home/armandli/cbp-recorder/writer_io.log
StandardError=inherit
Restart=on-failure

[Install]
WantedBy=default.target
