[Unit]
Description=cbp-book-level1-1-monitor
After=network.target

[Service]
WorkingDirectory=/home/armandli/cbp-recorder
ExecStart=/bin/bash -c 'cd /home/armandli/cbp-recorder/ && source ./env/bin/activate && book_monitor --exchange book_level1_1 --logfile monitor.log'
Environment=PYTHONUNBUFFERED=1
StandardOutput=append:/home/armandli/cbp-recorder/monitor_io.log
StandardError=inherit
Restart=on-failure

[Install]
WantedBy=default.target
