[Unit]
Description=cbp-stat-1-publisher
After=network.target

[Service]
WorkingDirectory=/home/armandli/cbp-recorder
ExecStart=/bin/bash -c 'cd /home/armandli/cbp-recorder/ && source ./env/bin/activate && stat_publisher --exchange stat_exchange_1 --logfile publisher.log'
Restart=on-failure

[Install]
WantedBy=multi-user.target
