[Unit]
Description=cbp-ticker-0-publisher
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/armandli/cbp-recorder
ExecStart=/bin/bash -c 'cd /home/armandli/cbp-recorder/ && source ./env/bin/activate && ticker_publisher --exchange ticker_exchange_0 --logfile publisher.log'
Environment=PYTHONUNBUFFERED=1
StandardOutput=append:/home/armandli/cbp-recorder/publisher_io.log
StandardError=inherit
Restart=on-failure

[Install]
WantedBy=default.target
