[Unit]
Description=cbp-ticker-0-writer
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/armandli/cbp-recorder
ExecStart=/bin/bash -c 'cd /home/armandli/cbp-recorder/ && source ./env/bin/activate && ticker_writer --period 360 --exchange ticker_exchange_0 --logfile writer.log'
Restart=on-failure

[Install]
WantedBy=multi-user.target
